<fieldset>
  <legend>CV</legend>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- პერსონალური ინფორმაციის განყოფილება -->
    <fieldset class="personal-info">
      <legend>Personal Info</legend>
      <input type="text" placeholder="first name" formControlName="firstName">
      <input type="text" placeholder="last name" formControlName="lastName">
      <input type="data" placeholder="data of birth" formControlName="dataOfBirth">
    </fieldset>

    <!--განათლების შესახებ ინფორმაციის განყოფილება -->
    <fieldset class="education-info" formArrayName="education">
      <legend>Education</legend>
      <ng-container *ngFor="let edu of educations.controls; index as i">
        <div [formGroupName]='i'>
          <input type="text" placeholder="university or college" formControlName="universityName">
          <input type="text" placeholder="qualification" formControlName="qualification">
          <label>from-
            <input type="date" formControlName="educationStart">
          </label>
          <label>till-
            <input type="date" formControlName="educationEnd">
          </label>
          <input type="button" value="-" (click)="removeEducation(i)">
        </div>     
        <br>
      </ng-container>
      <input type="button" value="+" (click)="addEducation()">
    </fieldset>

    <!--გამოცდილების შესახებ ინფორმაციის განყოფილება -->
    <fieldset class="exparience-info" formArrayName="experience">
      <legend>Working Experience</legend>
      <ng-container *ngFor="let edu of experience.controls; let i=index">
        <div [formGroupName]='i'>
          <input type="text" placeholder="company" formControlName="companyName">
          <input type="text" placeholder="position" formControlName="position">
          <label>from-
            <input type="date" formControlName="workingStart">
          </label>
          <label>till-
            <input type="date" formControlName="workingEnd" id="workingEnd">
          </label>
          <input type="button" value="-" (click)="removeExperience(i)">
        </div>
        <br>
      </ng-container>
      <input type="button" value="+" (click)="addExperience()">
    </fieldset>

    <!--საკონტაკტო ინფორმაციის შესახებ განყოფილება -->
    <fieldset class="contact-info" formGroupName="contactInfo">
      <legend>Contact Info</legend>
      <input type="text" placeholder="enter phone number" formControlName="phone">
      <input type="text" placeholder="example@mail.com" formControlName="email">
    </fieldset>
    <br>

    <input type="submit" value="submit" [disabled]="!form.valid">
    <!--თუ ფორმა არ არის ვალიდური საბმითი იქნება 'disabled'-->


  </form>


</fieldset>
<button (click)="edit()">edit cv</button>
<br>
{{form.valid}}
<pre>
 {{form.value|json}}
</pre>